@*@model EchangeProfesseursEtudiantsApp.Models.Group*@
@model EchangeProfesseursEtudiantsApp.ViewModel.GroupViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Group</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(m => Model.Groups.FirstOrDefault().Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(m => Model.Groups.FirstOrDefault().Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(m => Model.Groups.FirstOrDefault().Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(m => Model.Groups.FirstOrDefault().Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(m => Model.applicationusers.FirstOrDefault().Firstname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(m => Model.applicationusers.FirstOrDefault().Firstname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => Model.applicationusers.FirstOrDefault().Lastname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => Model.applicationusers.FirstOrDefault().Lastname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => Model.applicationusers.FirstOrDefault().Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => Model.applicationusers.FirstOrDefault().Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
