@*@model IEnumerable<EchangeProfesseursEtudiantsApp.Models.Group>*@
@model EchangeProfesseursEtudiantsApp.ViewModel.GroupViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@

<table class="table table-border table-striped" style="width:100%">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => Model.Groups.FirstOrDefault().Namegroup)</th>
            <th>@Html.DisplayNameFor(m => Model.Groups.FirstOrDefault().Descriptiongroup)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model.Groups)
        {
            @if(obj.applicationusergroup.Email == Model.applicationusers.FirstOrDefault().Email)
            {

                <tr>
                    <td>@obj.Namegroup</td>
                    <td>@obj.Descriptiongroup</td>
                    <td>
                        <a asp-controller="Modules" asp-action="index" asp-route-id="@obj.Idgroup">modules</a>
                    </td>
                </tr>
                

            }
            
        }
    </tbody>
</table>
