@*@using Microsoft.AspNetCore.Identity*@
@*@model IEnumerable<IdentityUser>*@
@model EchangeProfesseursEtudiantsApp.ViewModel.UsersViewModel

@{
	ViewData["Title"] = "Application Users";
}

<h1>View Users</h1>
<p>
	<a asp-action="Create">Create User</a>
</p>

<table class="table">

	<thead>

		<tr>
			<th>@Html.DisplayNameFor(m => Model.applicationusers.FirstOrDefault().Id)</th>
			<th>@Html.DisplayNameFor(m => Model.applicationusers.FirstOrDefault().Firstname)</th>
			<th>@Html.DisplayNameFor(m => Model.applicationusers.FirstOrDefault().Lastname)</th>
			<th>@Html.DisplayNameFor(m => Model.applicationusers.FirstOrDefault().Email)</th>
			<th></th>
		</tr>

	</thead>

	<tbody>
		@foreach(var item in Model.applicationusers)
		{
			<tr>
				<td>@item.Id</td>
				<td>@item.Firstname</td>
				<td>@item.Lastname</td>
				<td>@item.Email</td>
			</tr>
		}

	</tbody>

</table>