@*@model IEnumerable<EchangeProfesseursEtudiantsApp.Models.Group>*@
@model EchangeProfesseursEtudiantsApp.ViewModel.ElementViewModel

@{
    ViewData["Title"] = "Add Index";
}

<h1>Index</h1>


@foreach (var obj in Model.modules)
{
    if (obj.Idmodule == Model.modules.FirstOrDefault().Idmodule)
    {
        <p>
            <p>@obj.Namemodule</p>
            <a asp-action="Add" asp-route-id="@obj.Idmodule">Add Element</a>
        </p>
    }
}

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@

<table class="table table-border table-striped" style="width:100%">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => Model.elements.FirstOrDefault().Nameelement)</th>
            <th>@Html.DisplayNameFor(m => Model.elements.FirstOrDefault().Descriptionelement)</th>
            <th>@Html.DisplayNameFor(m => Model.applicationusers.FirstOrDefault().Firstname)</th>
            <th>@Html.DisplayNameFor(m => Model.applicationusers.FirstOrDefault().Lastname)</th>
            <th>@Html.DisplayNameFor(m => Model.applicationusers.FirstOrDefault().Email)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model.elements)
        {
            @if (obj.moduleelement.Idmodule == Model.modules.FirstOrDefault().Idmodule)
            {
            <td>@obj.Nameelement</td>
            <td>@obj.Descriptionelement</td>
            <td>@obj.applicationuserelement.Firstname</td>
            <td>@obj.applicationuserelement.Lastname</td>
            <td>@obj.applicationuserelement.Email</td>
            <td>
                <a asp-action="Deleteelement" asp-route-id="@obj.Idelement">Delete</a> |
                <a asp-action="Editelement" asp-route-id="@obj.Idelement">Edit</a>
                had joz mzal matdaroch!!!!
            </td>
            }
        }
                @*<td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="FraisStandard" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i> Edit</a>
                        <a asp-controller="FraisStandard" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2"> <i class="fa fa-trash-fill"></i> Delete</a>                    
                    </div>
                </td>*@
            </tr>
        }
    </tbody>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</table>
