@*@model IEnumerable<EchangeProfesseursEtudiantsApp.Models.Group>*@
@model EchangeProfesseursEtudiantsApp.ViewModel.ElementViewModel

@{
    ViewData["Title"] = "Add Index";
}

<h1>Index</h1>


@foreach (var obj in Model.modules)
{
    if (obj.Idmodule == Model.modules.FirstOrDefault().Idmodule)
    {
        <p>
            <p>@obj.Namemodule</p>
            <a asp-action="Add" asp-route-id="@obj.Idmodule">Add Element</a>
        </p>
    }
}

<table class="table table-border table-striped" style="width:100%">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => Model.elements.FirstOrDefault().Nameelement)</th>
            <th>@Html.DisplayNameFor(m => Model.elements.FirstOrDefault().Descriptionelement)</th>
            <th>@Html.DisplayNameFor(m => Model.applicationusers.FirstOrDefault().Firstname)</th>
            <th>@Html.DisplayNameFor(m => Model.applicationusers.FirstOrDefault().Lastname)</th>
            <th>@Html.DisplayNameFor(m => Model.applicationusers.FirstOrDefault().Email)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
        @foreach(var obj in Model.elements)
        {
            <tr>
            @if (obj.moduleelement.Idmodule == Model.modules.FirstOrDefault().Idmodule)
            {
            <td>@obj.Nameelement</td>
            <td>@obj.Descriptionelement</td>
            <td>@obj.applicationuserelement.Firstname</td>
            <td>@obj.applicationuserelement.Lastname</td>
            <td>@obj.applicationuserelement.Email</td>
            <td>
                <a asp-action="Deleteelement" asp-route-id="@obj.Idelement">Delete</a> |
                <a asp-action="Editelement" asp-route-id="@obj.Idelement">Edit</a> |
                    @foreach (var item in Model.Groups)
                    {
                <a asp-controller="Modules" asp-action="IndexStudent" asp-route-id="@item.Idgroup" asp-route-ide="@obj.Idelement">Students</a>
                    }
                had joz mzal matdaroch!!!!
            </td>
            }
            </tr>
        }
        
    </tbody>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</table>
